{% extends "base.html" %}
{% block title %}Измерение уровня глюкозы{% endblock %}
{% block style %}{{ super() }}{% endblock %}

{% block body %}
<body onload="">
    <div id="app-glukose">
        <div class="container mt15">
            <h4>Какой у вас уровень глюкозы?</h4>

            {% for cat, msg in get_flashed_messages(True) %}
                <span class="flash">{{msg}}</span><br />
                <span class="fs12">Вы ввели значение {{ cat }}</span>
            {% endfor %}

            <form id="app" @submit="checkForm" method="post" class="mt25">

                <div v-if="errors.length" class="form-group">
                    <strong>Пожалуйста исправьте:</strong><br />
                    <span class="red" v-for="error in errors">[[ error ]]<br /></span>
                </div>

                <div class="form-group">
                    <label for="glukose">Глюкоза:</label>
                    <input id="glukose" v-model="glukose" type="text" name="glukose" class="form-control inline" step="any">
                </div>

                <div class="form-group">
                    <label for="comments">Комментарии:</label>
                    <input id="comments" v-model="comments" type="text" name="comments" class="form-control w100">
                </div>

                <div class="form-group">
                    <input type="submit" value="Отправить" class="btn-success btn">
                </div>

            </form>
        </div>
    </div>

    {% block vue_axios_cdn %}{{ super() }}{% endblock %}

    <script>
        const constants = {{ constants | safe }};

        const app = new Vue({
                el: '#app-glukose',
                data: {
                    glukose_max: constants['glukose_max'],
                    glukose_min: constants['glukose_min'] + 1,
                    errors: [],
                    glukose: null,
                    comments: null
                },
            methods: {
                checkForm: function (e) {
                    this.errors = [];

                    if (this.glukose) {
                        if (this.glukose > this.glukose_max || this.glukose < this.glukose_min) {
                            this.errors.push(('Допустимый диапазон уровня глюкозы: от ' + this.glukose_min + ' до ' + this.glukose_max + ' моль/литр'))
                        } else {
                            return true;
                        }
                    } else {
                        if (!this.glukose) {
                            this.errors.push('Требуется указать значение уровня глюкозы.');
                        }
                    }

                    if (this.errors.length > 0)
                        e.preventDefault();
                }
            },
            delimiters: ['[[' , ']]']
        })
    </script>

</body>
{% endblock %}
