<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Измерения </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <style>
        .w20 {
            width: 20%;
        }

        .w30 {
            width: 30%;
        }

        .w100 {
            width: 100% !important;
        }

        .mt15 {
            margin-top: 15px;
        }

        .mt25 {
            margin-top: 25px;
        }

        .inline {
            width: 30%;
            display: inline;
        }

        .focus {
            /**/
        }
    </style>
</head>
<body onload="">
    <div id="app">
        <div v-if="tmpl === 'weight'" class="container mt15">
            <h4>Какой у вас вес?</h4>

            <form method="POST" class="mt25">
                <div class="form-group">
                    <label class="w30" for="pulse">Вес:</label>
                    <input type="number" step="any" class="form-control inline focus" name="weight" id="weight">
                </div>
                <div class="form-group">
                    <label class="w30" for="comments">Комментарии:</label>
                    <input type="text" class="form-control w100" name="comments" id="comments">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn-success btn" value="Сохранить"/>
                </div>
            </form>
        </div>

        <div v-if="tmpl === 'glukose'" class="container mt15">
            <h4>Какой у вас уровень глюкозы?</h4>

            <form method="POST" class="mt25">
                <div class="form-group">
                    <label class="w30" for="glukose">Уровень глюкозы:</label>
                    <input type="number" step="any" class="form-control inline" name="glukose" id="glukose">
                    <input type="hidden" name="focus_el" id="focus_el" value="glukose">
                </div>
                <div class="form-group">
                    <label class="w30" for="comments">Комментарии:</label>
                    <input type="text" class="form-control w100" name="comments" id="comments">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn-success btn" value="Сохранить"/>
                </div>
            </form>
        </div>

        <div v-if="tmpl === 'temperature'" class="container mt15">
            <h4>Какая у вас температура?</h4>

            <form method="POST" class="mt25">
                <div class="form-group">
                    <label class="w30" for="temperature">Температура:</label>
                    <input type="number" step="any" class="form-control inline" name="temperature" id="temperature">
                    <input type="hidden" name="focus_el" id="focus_el" value="temperature">
                </div>
                <div class="form-group">
                    <label class="w30" for="comments">Комментарии:</label>
                    <input type="text" class="form-control w100" name="comments" id="comments">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn-success btn" value="Сохранить"/>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                tmpl: "{{ tmpl }}"
            },
            methods: {
                hide: function () {
                    // stub
                },
                show: function () {
                    // stub
                }
            },
            delimiters: ['${', '}']
        })

        let focus_el = document.getElementsByClassName("focus")

        console.log('focus_el', focus_el)
    </script>
</body>
</html>