{% extends "base.html" %}

{% block title %}Прием лекарств{% endblock %}

{% block body %}
<body>
    <div id="app">
        <div class="container mt15">
            <h4>Прием лекарств</h4>

            <p class="success"></p>

            {% for item in medicine_data %}
                <p>
                    <a data="{{ medicine_data[item] }}" onclick="postMessage__({{ medicine_data[item] }})" id="{{ medicine_data[item]['id' ] }}" href="{{ medicine_data[item]['action_link'] }}" class="btn btn-success j">
                        Подтвердить прием: {{ item }}
                    </a>
                </p>
            {% endfor %}
        </div>
    </div>

    {% block body_script %}
        {{ super() }}


        <script>
            const postMessage__ = (obj => {
                {#log(obj)#}
                {#log('-------')#}
                log(obj['id'])
                log(obj['action_link'])

            })

            ;(function() {
                {#'use strict'#}

                const medicine_data = {{ medicine_data | safe }}

                console.log('medicine_data = ', medicine_data)

                const xa = document.getElementsByClassName('j')

                var medicine_el

                for (key in xa) {
                    medicine_el = xa[key]

                    /*medicine_el.addEventListener('click', function (event) {

                        event.preventDefault()
                        log(this.id, medicine_data)
                    })

                    console.log(key, xa[key])*/
                }
            })();
        </script>


{#        <script>#}
{#            #}
{##}
            {#const medicine_data = {{ medicine_data | safe }}#}
            {##}
            {#log('medicine_data = ', medicine_data)#}
{##}
{#            const postMessage__ = (obj => {#}
{##}
{##}
{#                log('test =', obj)#}
{#            })#}
{##}
{#            let xa = document.getElementsByClassName('j')#}
{##}
{#            console.log('app = ', app)#}
{##}
{#            let medicine_el#}
{##}
{#            for (key in xa) {#}
{#                medicine_el = xa[key]#}
{##}
{#                medicine_el.addEventListener('click', function (event) {#}
{##}
                    {#event.preventDefault()#}
{#                    log(this.id, medicine_data)#}
{#                })#}
{##}
                {#console.log(key, xa[key])#}
{#            }#}
{##}
{#            console.log('===', typeof xa)#}
{##}
            {#focus_el.addEventListener('DOMContentLoaded', (event) => {#}
            {#    console.log('DOMContentLoaded');#}
            {#})#}
{##}
{##}
            {#const medicine_data = {{ medicine_data | safe }}#}
            {##}
            {#console.log('medicine_data = ', medicine_data)#}
            {##}
            {#const medicines_list = document.getElementById('medicines_list')#}
            {##}
            {#console.log('medicine_list = ', medicines_list)#}
{##}
            {#;(function() {#}
            {#    'use strict'#}
            {##}
            {#    const constants = {{ constants | safe }}#}
            {##}
            {#    const getElement = function(el) {#}
            {#        return document.getElementById(el)#}
            {#    }#}
            {##}
            {#    const form = document.getElementById('main-form')#}
            {##}
            {#    if (!form) return#}
            {##}
            {#    const dom = {#}
            {#        sys: getElement('systolic'),#}
            {#        dia: getElement('diastolic'),#}
            {#        pulse: getElement('pulse_'),#}
            {#        comments: getElement('comments'),#}
            {#        error_sys: getElement('error-sys'),#}
            {#        error_dia: getElement('error-dia'),#}
            {#        error_pulse: getElement('error-pulse'),#}
            {#        error_comments: getElement('error-comments')#}
            {#    }#}
            {##}
            {#    form.addEventListener('submit', function (event) {#}
            {#        Validation.hide_error_all([dom.error_sys, dom.error_dia, dom.error_pulse, dom.error_comments])#}
            {##}
            {#        if (!dom.sys.value) {#}
            {#            Validation.validate(dom.error_sys, 'Заполните систолическое давление (слева)', event)#}
            {#            return#}
            {#        } else {#}
            {#            Validation.hide(dom.error_sys)#}
            {#        }#}
            {##}
            {#        if (!dom.dia.value) {#}
            {#            Validation.validate(dom.error_dia, 'Заполните диастолическое давление (справа)', event)#}
            {#            return#}
            {#        } else {#}
            {#            Validation.hide(dom.error_dia)#}
            {#        }#}
            {##}
            {#        if (!dom.pulse.value) {#}
            {#            Validation.validate(dom.error_pulse, 'Заполните пульс', event)#}
            {#            console.log('pulse is blank')#}
            {#            return#}
            {#        } else {#}
            {#            Validation.hide(dom.error_pulse)#}
            {#        }#}
            {##}
            {#        Validation.test_integer(dom.sys.value, dom.error_sys, errorMess[0], event)#}
            {#        Validation.test_integer(dom.dia.value, dom.error_dia, errorMess[1], event)#}
            {#        Validation.test_integer(dom.pulse.value, dom.error_pulse, errorMess[2], event)#}
            {##}
            {#        if (Validation.is_empty(!dom.comments.value)) {#}
            {#            Validation.test_spam(dom.comments.value, dom.error_comments, errorMess[3], event)#}
            {#        }#}
            {##}
            {#        if (dom.sys.value > constants.sys_max) {#}
            {#            event.preventDefault()#}
            {#            Validation.makeErrorHtml(dom.error_sys, 'Систолическое давление не может быть выше ' + constants.sys_max)#}
            {#        }#}
            {##}
            {#        if (dom.sys.value < constants.sys_min) {#}
            {#            event.preventDefault()#}
            {#            Validation.makeErrorHtml(dom.error_sys, 'Систолическое давление не может быть ниже ' + constants.sys_min)#}
            {#        }#}
            {##}
            {#        if (dom.dia.value > constants.dia_max) {#}
            {#            event.preventDefault()#}
            {#            Validation.makeErrorHtml(dom.error_dia, 'Диастолическое давление не может быть выше ' + constants.dia_max)#}
            {#        }#}
            {##}
            {#        if (dom.dia.value < constants.dia_min) {#}
            {#            event.preventDefault()#}
            {#            Validation.makeErrorHtml(dom.error_dia, 'Диастолическое давление не может быть ниже ' + constants.dia_min)#}
            {#        }#}
            {##}
            {#        if (dom.pulse.value > constants.pulse_max) {#}
            {#            event.preventDefault()#}
            {#            Validation.makeErrorHtml(dom.error_pulse, 'Пульс не может быть выше ' + constants.pulse_max)#}
            {#        }#}
            {##}
            {#        if (dom.pulse.value < constants.pulse_min) {#}
            {#            event.preventDefault()#}
            {#            Validation.makeErrorHtml(dom.error_pulse, 'Пульс не может быть ниже ' + constants.pulse_min)#}
            {#        }#}
            {##}
            {#    })#}
            {##}
            {#    // коллекция полей формы из которой мы будем извлекать данные#}
                {#let	elements	= form.querySelectorAll('.form-control')#}
            {##}
            {#    let errorMess	= [#}
            {#        'Удалите запрещенные символы из полей Давление',#}
            {#        'Удалите запрещенные символы из полей Давление',#}
            {#        'Удалите запрещенные символы из поля Пульс',#}
            {#        'Удалите запрещенные символы < > ][ из поля Комментарии'#}
            {#    ]#}
            {#})();#}
{#        </script>#}
    {% endblock %}

</body>
{% endblock %}