{% extends "base.html" %}

{% block title %}Прием лекарств{% endblock %}

{% block body %}
<body>
    <div id="app">
        <div class="container mt15">
            <h4>Прием лекарств</h4>

            <p class="success"></p>

            <form>
            {% for item in medicine_data %}
                <p>
                    <a data="{{ medicine_data[item] }}" id="{{ medicine_data[item]['id' ] }}" href="{{ medicine_data[item]['action_link'] }}" class="btn btn-success j">
                        Подтвердить прием: {{ item }}
                    </a>
                </p>
            {% endfor %}
            </form>

        </div>
    </div>

    {% block body_script %}
        {{ super() }}

        <script>
            const postMessage__ = (obj => {
                log(obj['id'])
                log(obj['action_link'])

            })

            ;(function() {
                const medicine_data = {{ medicine_data | safe }}

                console.log('medicine_data = ', medicine_data)

                const xa = document.getElementsByClassName('j')

                var medicine_el

                for (key in xa) {
                    medicine_el = xa[key]

                    /*medicine_el.addEventListener('click', function (event) {

                        event.preventDefault()
                        log(this.id, medicine_data)
                    })

                    console.log(key, xa[key])*/
                }
            })();
        </script>




















































































































































    {% endblock %}

</body>
{% endblock %}