<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Измерения и прием лекарств</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <style>
        .ccc {
            color: #666666;
            font-weight: 700;
        }

        .red {
            color: red;
        }

        li {
           list-style-type: none; /* Убираем маркеры */
        }

        ul {
            margin-left: 0; /* Отступ слева в браузере IE и Opera */
            padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
        }

        .select {
           margin-top: -25px;
        }

        th {

        }

        .hide {
            display: none;
        }

        .show {
            display: block;
        }

        .small {

            font-size: small;
        }

        .w30-inline {
            width: 30%;
            display: inline;
        }

        .w30 {
            width: 30%;
        }

        .w50 {
            width: 50%;
        }

        .inline {
            display: inline;
        }

        .mb0 {
            margin-bottom: 0px;
        }

        .mt-10 {
            margin-top: -10px;
        }

        .mt15 {
            margin-top: 15px;
        }

        .lh11 {
            line-height: 11px
        }

        .mt-7 {
            margin-top: -7px
        }

        .mt5 {
            margin-bottom: 5px;
        }
  </style>
</head>
<body>
<div class="container mt15" id="app">
    <h5 class="inline">Настройка канала консультирования</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input class="btn btn-success inline small mt5" type="button" v-on:click="add_medicines(medicines_data)" value="Добавить лекарство">
    <form v-on:submit.prevent="save">
        <div class="row" v-for="(medicines, index) in medicines_data" v-if="!medicines.deleted_at">
            <div class="col-md-4 col-sm-12">
                <div v-if="medicines.show">
                    <label class="small mb0 ccc" for="mode">Препарат</label>
                    <input v-bind:id="medicines.uid" type="hidden" v-model="medicines.uid" class="form-control">
                    <input v-bind:id="medicines.name" type="text" v-model="medicines.name" class="form-control">
                    <a id="remove_medicines" href="#" v-on:click.prevent="remove_medicines(medicines)">
                        <small>Удалить</small>
                    </a>

                    <span class="red hide">Для удаления лекарства, нажмите кнопку Сохранить.</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group" v-if="medicines.show">
                    <label class="small mb0 ccc" for="mode">Форма приема</label>

                    <select class="form-control" v-model="medicines.mode">
                        <option value="daily">Ежедневно</option>
                        <option value="weekly">Еженедельно</option>
                        <option value="monthly">Ежемесячно</option>
                    </select>

                    <div>
                        <span class="small mb0 lh11" for="dosage">Дозировка</span><br>
                        <input type="text" class="form-control small inline w50" v-model="medicines.dosage">
                    </div>

                    <div>
                        <span class="small mb0 lh11" for="amount">Кол-во</span><br>
                        <input type="text" class="form-control small inline w50" placeholder="Кол-во" v-model="medicines.amount">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div v-if="medicines.show">
                    <label class="small mb0 ccc" for="mode">Время приема</label>

                    <div v-if="medicines.mode === 'weekly'">
                            <div class="form-group" v-if="medicines.show">
                                <ul v-for="(medicine, index) in medicines.timetable">
                                    <li v-for="(days_week, index) in medicine.days_week">
                                        <select class="form-control w30-inline small" v-model="days_week.day">
                                            <option value="1">ПН</option>
                                            <option value="2">ВТ</option>
                                            <option value="3">СР</option>
                                            <option value="4">ЧТ</option>
                                            <option value="5">ПТ</option>
                                            <option value="6">СБ</option>
                                            <option value="7">ВС</option>
                                        </select>

                                        <input type="text" class="form-control form-control-sm w30-inline" v-model="days_week.hour"/> <span class="small">:00</span>

                                        <a href="#" v-on:click.prevent="$delete(medicine.days_week, index)">
                                            <small>&nbsp;&nbsp;Удалить</small>
                                        </a>
                                    </li>

                                    <a href="#" v-on:click.prevent="add_medicine_day(medicine.days_week)">
                                        <small class="mt-10">Добавить</small>
                                    </a>
                                </ul>
                            </div>
                    </div>

                    <div v-if="medicines.mode === 'daily'">
                        <div class="form-group" v-if="medicines.show">
                            <ul v-for="(medicine, index) in medicines.timetable">
                                <li v-for="(hours, index) in medicine.hours">
                                    <input type="text" class="form-control form-control-sm w30-inline" v-model="hours.value"/> <span class="small">:00</span>

                                    <a href="#" v-on:click.prevent="$delete(medicine.hours, index)">
                                        <small>&nbsp&nbspУдалить</small>
                                    </a>
                                </li>

                                <a href="#" v-on:click.prevent="add_medicine_time(medicine.hours)">
                                    <small class="mt-10">Добавить</small>
                                </a>
                            </ul>
                        </div>
                    </div>

                    <div v-if="medicines.mode === 'monthly'">
                        <div class="form-group" v-if="medicines.show">
                            <ul v-for="(medicine, index) in medicines.timetable">
                                <li v-for="(days_month, index) in medicine.days_month">
                                    <select class="form-control w30-inline small" v-model="days_month.day">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>

                                    <input type="text" class="form-control form-control-sm w30-inline" v-model="days_month.hour"/> <span class="small">:00</span>

                                    <a href="#" v-on:click.prevent="$delete(medicine.days_month, index)">
                                        <small>&nbsp;&nbsp;Удалить</small>
                                    </a>
                                </li>

                                <a href="#" v-on:click.prevent="add_medicine_month(medicine.days_month)">
                                    <small class="mt-10">Добавить</small>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" v-for="(measurements, index) in measurements_data">
            <div class="col-md-4 col-sm-12" v-bind:id="measurements.name">
                <input v-bind:id="measurements.name+'_checkbox'" type="checkbox" v-model="measurements.show">
                <label for="checkbox">${measurements.alias}</label>
            </div>
            <div class="col-md-4 col-sm-12" v-bind:id="measurements.name+1" v-if="measurements.show">
                <label class="small mb0 ccc" for="mode">Параметры измерения</label>

                <select class="form-control" v-model="measurements.mode">
                    <option value="daily">Ежедневно</option>
                    <option value="weekly">Еженедельно</option>
                    <option value="monthly">Ежемесячно</option>
                </select>

                <div v-if="measurements.name === 'pressure'">
                    <span class="small mb0 lh11" for="systolic">Макс. и мин. систолическое</span><br>
                    <input type="text" class="form-control small inline w30" placeholder="Макс" v-model="measurements.max_systolic">
                    <input type="text" class="form-control small inline w30" placeholder="Мин" v-model="measurements.min_systolic">
                </div>

                <div v-if="measurements.name === 'pressure'">
                    <span class="small mb0 lh11" for="systolic">Макс. и мин. диастолическое</span><br>
                    <input type="text" class="form-control small inline w30" placeholder="Макс" v-model="measurements.max_diastolic">
                    <input type="text" class="form-control small inline w30" placeholder="Мин" v-model="measurements.min_diastolic">
                </div>

                <div v-if="measurements.name === 'pressure'">
                    <span class="small mb0 lh11" for="systolic">Макс. и мин. пульс</span><br>
                    <input type="text" class="form-control small inline w30" placeholder="Макс" v-model="measurements.max_pulse">
                    <input type="text" class="form-control small inline w30" placeholder="Мин" v-model="measurements.min_pulse">
                </div>

                <div v-if="measurements.name !== 'pressure'">
                    <label class="small mb0" for="checkbox">Макс. значение</label>
                    <input type="text" class="form-control small w30" placeholder="Макс" v-model="measurements.max">
                    <label class="small mb0" for="checkbox">Мин. значение</label>
                    <input type="text" class="form-control small w30" placeholder="Мин" v-model="measurements.min">
                </div>
            </div>
            <div class="col-md-4 col-sm-12" v-if="measurements.show">
                <label class="small mb0 ccc" for="mode">Время измерения</label>

                <div v-if="measurements.mode === 'daily'">
                    <div v-bind:id="measurements.name+3" v-if="measurements.show">
                        <ul v-for="(measurement, index) in measurements.timetable">
                            <li v-for="(hours, index) in measurement.hours">
                                <input type="text" class="form-control form-control-sm w30-inline" v-model="hours.value"/> <span class="small">:00</span>

                                <a href="#" v-on:click.prevent="$delete(measurement.hours, index)">
                                    <small>&nbsp;&nbsp;Удалить</small>
                                </a>
                            </li>

                            <a href="#" v-on:click.prevent="add_measurement_time(measurement.hours)">
                                <small class="mt-10">Добавить</small>
                            </a>
                        </ul>
                    </div>
                </div>

                <div v-if="measurements.mode === 'weekly'">
                    <div v-bind:id="measurements.name+2" v-if="measurements.show">
                        <ul v-for="(measurement, index) in measurements.timetable">
                            <li v-for="(days_week, index) in measurement.days_week">
                                <select class="form-control w30-inline small" v-model="days_week.day">
                                    <option value="1">ПН</option>
                                    <option value="2">ВТ</option>
                                    <option value="3">СР</option>
                                    <option value="4">ЧТ</option>
                                    <option value="5">ПТ</option>
                                    <option value="6">СБ</option>
                                    <option value="7">ВС</option>
                                </select>

                                <input type="text" class="form-control form-control-sm w30-inline" v-model="days_week.hour"/> <span class="small">:00</span>

                                <a href="#" v-on:click.prevent="$delete(measurement.days_week, index)">
                                    <small>&nbsp;&nbsp;Удалить</small>
                                </a>
                            </li>

                            <a href="#" v-on:click.prevent="add_measurement_day(measurement.days_week)">
                                <small class="mt-10">Добавить</small>
                            </a>
                        </ul>
                    </div>
                </div>

                <div v-if="measurements.mode === 'monthly'">
                    <div v-bind:id="measurements.name+5" v-if="measurements.show">
                        <ul v-for="(measurement, index) in measurements.timetable">
                            <li v-for="(days_month, index) in measurement.days_month">
                                <select class="form-control w30-inline small" v-model="days_month.day">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                </select>

                                <input type="text" class="form-control form-control-sm w30-inline" v-model="days_month.hour"/> <span class="small">:00</span>

                                <a href="#" v-on:click.prevent="$delete(measurement.days_month, index)">
                                    <small>&nbsp;&nbsp;Удалить</small>
                                </a>
                            </li>

                            <a href="#" v-on:click.prevent="add_measurement_month(measurement.days_month)">
                                <small style="margin-top: -10px !important;">Добавить</small>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn-success btn" value="Сохранить"/>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            medicines_data: JSON.parse('{{medicines_data | safe }}'),
            medicines_data_new: JSON.parse('{{medicines_data_new | safe }}'),
            measurements_data: JSON.parse('{{measurements_data | safe }}')
        },
        methods: {
            hide: function () {
                // stub
            },
            show: function () {
                // stub
            },

            add_medicine_day: function (day) {
                day.push({"day": 1, "hour": 10})
            },
            add_medicine_month: function (month) {
                month.push({"day": 1, "hour": 10})
            },
            add_measurement_day: function (day) {
                day.push({"day": 1, "hour": 10})
            },
            add_measurement_month: function (month) {
                month.push({"day": 1, "hour": 10})
            },
            add_measurement_param: function (measurements) {
                measurements.push(
                        {
                        "name": "",
                        "alias": "",
                        "mode": "daily",
                        "max": 100,
                        "min": 50,
                        "timetable": [
                            {
                                "hours": [
                                    {
                                        "value": 10
                                    }
                                ]
                            }
                        ]
                    }
                );
            },
            add_medicine: function () {
                //
            },
            remove_medicines: function (medicines) {
                date = new Date()
                timestamp = date.valueOf()
                medicines.deleted_at = timestamp
                medicines.show = false
                medicines.test = true
            },
            add_medicines: function (medicines_data) {
                date = new Date()
                timestamp = date.valueOf()
                let item = {"name": "", "mode": "daily", "amount": "", "dosage": "", "last_sent": 0, "timetable": [{"days_month": [{"day": 1, "hour": 10}], "days_week": [{"day": 1, "hour": 10}], "hours": [{"value": 10}]}], "times": [], "show": true}
                medicines_data.push(item)
            },
            add_medicine_time: function (hours) {
                hours.push({"value": 10});
            },
            add_measurement_time: function (hours) {
                hours.push({"value": 10});
            },
            save: function () {
                axios.post(location.href, {
                    "json": JSON.stringify({
                        mode: this.mode,
                        medicines_data: this.medicines_data,
                        measurements_data: this.measurements_data
                    })
                }).then(function (response) {

                    console.log('response' ,response);

                    if (response.data == 'ok')
                    {
                        console.log('settings.html | close-modal-success')
                        window.parent.postMessage('close-modal-success','*');
                        console.log('window.parent', window.parent);
                    }
                    else {
                        alert("Заполните все поля!");
                    }
                }).catch(function (error) {
                    console.log(error);
                });

                console.log('location.href', location.href);

                return false;
            }
        },
        delimiters: ['${', '}']
    })

    console.log('app..medicines_data', app.medicines_data)
    console.log('app..medicines_data_new', app.medicines_data_new)
</script>
</body>
</html>