{% extends "base.html" %}
{% block title %}Измерение окружности левой и правой голеней{% endblock %}
{% block style %}{{ super() }}{% endblock %}

{% block body %}
<body onload="">
    <div id="app-shin">
        <div class="container mt15">
            <h4>Какая у вас окружность левой и правой голеней?</h4>

            {% for cat, msg in get_flashed_messages(True) %}
                <span class="flash">{{msg}}</span><br />
                <span class="fs12">Вы ввели значение {{ cat }}</span>
            {% endfor %}

            <form id="app" @submit="checkForm" method="post" class="mt25">

                <div v-if="errors.length" class="form-group">
                    <strong>Пожалуйста исправьте:</strong><br />
                    <span class="red" v-for="error in errors">[[ error ]]<br /></span>
                </div>

                <div class="form-group">
                    <label for="shin_left">Окружность левой голени:</label>
                    <input id="shin_left" v-model="shin_left" type="text" name="shin_left" class="form-control inline" step="any" autofocus>
                </div>

                <div class="form-group">
                    <label for="shin_right">Окружность правой голени:</label>
                    <input id="shin_right" v-model="shin_right" type="text" name="shin_right" class="form-control inline" step="any">
                </div>

                <div class="form-group">
                    <label for="comments">Комментарии:</label>
                    <input id="comments" v-model="comments" type="text" name="comments" class="form-control w100">
                </div>

                <div class="form-group">
                    <input type="submit" value="Отправить" class="btn-success btn">
                </div>

            </form>
        </div>
    </div>

    {% block vue_axios_cdn %}{{ super() }}{% endblock %}

    <script>
        const constants = {{ constants | safe }};

        const app = new Vue({
                el: '#app-shin',
                data: {
                    shin_max: constants['shin_max'],
                    shin_min: constants['shin_min'],
                    errors: [],
                    shin_left: null,
                    shin_right: null,
                    comments: null
                },
            methods: {
                checkForm: function (e) {
                    this.errors = [];

                    if (this.shin_left) {
                        if (this.shin_left > this.shin_max || this.shin_left < this.shin_min) {
                            this.errors.push(('Допустимый диапазон окружности левой голени: от ' + this.shin_min + ' до ' + this.shin_max + ' см'))
                        }
                    } else {
                        this.errors.push('Требуется указать значение окружности левой голени.');
                    }

                    if (this.shin_right) {
                        if (this.shin_right > this.shin_max || this.shin_right < this.shin_min) {
                            this.errors.push(('Допустимый диапазон окружности правой голени: от ' + this.shin_min + ' до ' + this.shin_max + ' см'))
                        }
                    } else {
                        this.errors.push('Требуется указать значение окружности правой голени.');
                    }

                    if (this.errors.length > 0)
                        e.preventDefault();
                }
            },
            delimiters: ['[[' , ']]']
        })
    </script>

</body>
{% endblock %}
