{% extends "base.html" %}
{% block title %}Измерение уровня насыщения крови кислородом{% endblock %}
{% block style %}{{ super() }}{% endblock %}

{% block body %}
<body onload="">
    <div id="app-spo2">
        <div class="container mt15">
            <h4>Какой у вас уровень насыщения крови кислородом?</h4>

            {% for cat, msg in get_flashed_messages(True) %}
                <span class="flash">{{msg}}</span><br />
                <span class="fs12">Вы ввели значение {{ cat }}</span>
            {% endfor %}

            <form id="app" @submit="checkForm" method="post" class="mt25">

                <div v-if="errors.length" class="form-group">
                    <strong>Пожалуйста исправьте:</strong><br />
                    <span class="red" v-for="error in errors">[[ error ]]<br /></span>
                </div>

                <div class="form-group">
                    <label for="spo2">Уровень насыщения крови:</label>
                    <input id="spo2" v-model="spo2" type="text" name="spo2" class="form-control inline" autofocus>
                </div>

                <div class="form-group">
                    <label for="comments">Комментарии:</label>
                    <input id="comments" v-model="comments" type="text" name="comments" class="form-control w100">
                </div>

                <div class="form-group">
                    <input type="submit" value="Отправить" class="btn-success btn">
                </div>

            </form>
        </div>
    </div>

    {% block vue_axios_cdn %}{{ super() }}{% endblock %}

    <script>
        const constants = {{ constants | safe }};

        const app = new Vue({
                el: '#app-spo2',
                data: {
                    spo2_max: constants['spo2_max'],
                    spo2_min: constants['spo2_min'],
                    errors: [],
                    spo2: null,
                    comments: null
                },
            methods: {
                checkForm: function (e) {
                    this.errors = [];

                    if (this.spo2) {
                        if (this.spo2 > this.spo2_max || this.spo2 < this.spo2_min) {
                            this.errors.push(('Допустимый диапазон измерения уровня насыщения крови: от ' + this.spo2_min + ' до ' + this.spo2_max + ' %'))
                        }
                    } else {
                        if (!this.spo2) {
                            this.errors.push('Требуется указать значение уровня насыщения крови.');
                        }
                    }

                    if (this.errors.length > 0)
                        e.preventDefault();
                }
            },
            delimiters: ['[[' , ']]']
        })
    </script>

</body>
{% endblock %}