{% extends "base.html" %}
{% block title %}Измерение веса{% endblock %}
{% block style %}{{ super() }}{% endblock %}

{% block body %}
<body onload="">
    <div id="app-weight">
        <div class="container mt15">
            <h4>Какой у вас вес?</h4>

            {% for cat, msg in get_flashed_messages(True) %}
                <span class="flash">{{msg}}</span><br />
                <span class="fs12">Вы ввели значение {{ cat }}</span>
            {% endfor %}

            <form id="app" @submit="checkForm" method="post" class="mt25">

                <div v-if="errors.length" class="form-group">
                    <strong>Пожалуйста исправьте:</strong><br />
                    <span class="red" v-for="error in errors">[[ error ]]<br /></span>
                </div>

                <div class="form-group">
                    <label for="weight">Вес:</label>
                    <input id="weight" v-model="weight" type="text" name="weight" class="form-control inline" step="any" autofocus>
                </div>

                <div class="form-group">
                    <label for="comments">Комментарии:</label>
                    <input id="comments" v-model="comments" type="text" name="comments" class="form-control w100">
                </div>

                <div class="form-group">
                    <input type="submit" value="Отправить" class="btn-success btn">
                </div>

            </form>
        </div>
    </div>

    {% block vue_axios_cdn %}{{ super() }}{% endblock %}

    <script>
        const constants = {{ constants | safe }};

        const app = new Vue({
                el: '#app-weight',
                data: {
                    weight_max: constants['weight_max'],
                    weight_min: constants['weight_min'],
                    errors: [],
                    weight: null,
                    comments: null
                },
            methods: {
                checkForm: function (e) {
                    this.errors = [];

                    if (this.weight) {
                        if (this.weight > this.weight_max || this.weight < this.weight_min) {
                            this.errors.push(('Допустимый диапазон измерения веса: от ' + this.weight_min + ' до ' + this.weight_max + ' кг'))
                        }
                    } else {
                        this.errors.push('Требуется указать значение веса.');
                    }

                    if (this.errors.length > 0)
                        e.preventDefault();
                }
            },
            delimiters: ['[[' , ']]']
        })
    </script>

</body>
{% endblock %}
